<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/styles.css">
  <title>Curso VUE3</title>
  <!--VUE CDN-->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
  <div id="app">
    <div class="cart">Cart: {{cart}}</div>
    <div class="product-display">
      <div class="product-container">
        <div><div class="product-image">
          <!--IMAGEM DO PRODUTO-->
          <img :src="image" alt="img-product"> 
        </div></div>
        <div class="product-info">
          <!--INFO DO PRODUTO-->
          <h1>{{ product_title }}</h1>
          <p v-if="InStock > 10">In Stock</p>
          <p v-else-if="InStock <= 10 && InStock >1"> Almost of out</p>
          <p v-else>Out of stock</p>
          <ul>
            <li v-for="detail in details">
            {{ detail }}
            </li>
          </ul>
        <div>
            <div v-for="variant in variants" :key="variant.id" @mouseover="changeImage(variant.image)">
              {{variant.color}}
          </div>
          <button class="button" v-on:click="addToCart">Add to cart</button>
        </div>
        </div>
        
      </div>
    
  <div>

      <script>
        const { createApp, ref } = Vue

        createApp({
          setup() {
            const cart = ref(0);
            const addToCart = () =>{
              cart.value +=1
            }
            const image = ref("assets/images/t-shirt-blue.png");
            const changeImage = (variantImage) => {
                image.value = variantImage
            }
            return {
              product_title: ref("T-Shirt"),
              image,
              InStock: ref(0),
              details: ['50% Cotton', '30% Polyester', '20% Woll'],
              variants: [{id:1, color: 'blue', image:"assets/images/t-shirt-blue.png"}, {id:2, color: 'green', image:"assets/images/t-shirt-green.png"}],
              cart,
              addToCart, 
              changeImage
            }
          }
        }).mount('#app')
      </script>
</body>

</html>